<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/page.css">
    <script src="../public/js/page.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <label class="alive">
            <img src="/Wix Logo Maker - Google Chrome 10_23_2020 11_53_53 PM (2).png" alt="">
        </label>

        <ul>
            <li> <a href="#">HOME</a> </li>
            <li> <a href="#">ABOUT US</a> </li>
            <li> <a href="#">SERVICE</a> </li>
            <li> <a href="#">FEEDBACK</a> </li>
            <li> <a href="#">CONTACT US</a> </li>
        </ul>
    </nav>
    <!-- <div class="top">
        eat sleep learn repeat
    </div> -->
    
 <div class="mainbar">
    <div class="clockcontainer">
        
        <div id="hours"></div>
        <div id="minutes"></div>
        <div id="seconds"></div>
    </div>
 </div>
   
<div class="content">
    <h2>
    it is your day kids <br>seize it!
    <img src="../public/images/smily.jpg" alt="" class="smiley">
    </h2>
    <div class="set">
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves4.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
    </div>
    <div class="set set2">
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves4.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
    </div>
    <div class="set set3">
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves4.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
    </div>
    <div class="set set4">
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves4.png" alt=""></div>
        <div><img src="../public/images/leaves1.png" alt=""></div>
        <div><img src="../public/images/leaves2.png" alt=""></div>
        <div><img src="../public/images/leaves3.png" alt=""></div>
    </div>
</div>
   
</body>
</html>